/*global*/
body{
    font-family: 'Roboto Mono', monospace;
    background-color: #000000;
    color: #EEEEEE;
    margin: 0;
    padding: 0;
}
hr{
    border: 0;
    border-bottom: #6b6b6b 2px dashed;
    width: 80%;
}
.container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    vertical-align: top;
}
img{
    width: 250px;
    height: auto;
}

h2{
    font-family: 'Roboto Slab', serif;
    color: #5089C6;
    font-size: 30px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #6b6b6b;
}
a:hover{
    color: #EEEEEE;
}
p{
    font-size: 18px;
}
/*navigation*/
header .container{
    margin: auto;
    
}
header{
    min-height: 50px;
    padding-top: 15px;
}
header li{
    float: left;
    display: inline;
    padding: 0 15px 0 15px;
}
#greeting{
    float: left;
}
header nav{
    float: right;
}
h1{
    color: #5089C6;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
@media (max-width: 600px) {
    header nav{
        display: none;
    }
    h1{
        font-size: 30px;
    }
}

/*intro*/
#intro img{
    width: 200px;
    height: 200px;
    border: 0;
    border-radius: 100%;
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
}
#intro h2{
    font-family: 'Parisienne', cursive;
    font-size: 55px;  
    margin: 15px;
}
#intro .introcontent{
    text-align: center;
}
button{
    margin-top: 20px;
    border: 2px solid #5089C6;
    border-radius: 10px;
    padding: 10px;
    background-color: #5089C6;
    color: #EEEEEE;
}
button:hover{
    background-color: transparent;
    border: 2px solid;
    border-color: #5089C6;
    color: #5089C6;
}
.button2{
    padding: 10px 30px;
}
@media (max-width:600px){
    #intro h2{
        font-size: 40px;
    }
}
/*about*/
#about .container{
    text-align: center;
}
#about p{
    text-align: left;
}
#about .box{
   display: inline-block;
   width: 40%;
   margin: 0;
   padding: 0;
   vertical-align: middle;
}
#about img{
    width: 300px;
    height: auto;
    max-width: 100%;
    border: 0;
    border-radius: 10px;
}
#about .box h2{
    text-align: left;
}
@media (max-width: 600px){
    #about .box{
        display: block;
        width: 80%;
        margin: auto;
    }
    #about p{
        text-align: center;
    }
    #about .box h2{
        text-align: center;
    }
}

/*skills*/
#languages-tools ul{
    margin: 0;
    padding: 0;
}
#languages-tools .container{
    text-align: center;
}
#languages-tools li{
    list-style: none;
    display: inline-block;
    width: 150px;
    padding: 20px ;
    margin: 20px 20px 20px 20px;
    text-align: center;
/*    background-color: #6b6b6b28;*/
    border: 2px #5089C6 solid;

    border-radius: 5px;
}
@media (max-width: 600px){
    #languages-tools li{
        display: block;
        margin: 15px auto 15px auto;
    }
}

/*projects*/
#projects .container{
    text-align: center;
}
.project .box{
    vertical-align: middle;
    text-align: center;
    background-color: #6b6b6b28;
    margin: 0.5rem;
    border-radius: 10px;
    border: #5089C6 solid 2px;
    width: 350px;
}
.project-info{
    padding: 0.5rem;
    font-size: 0.8rem;
}
#projects img{
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 100%;
    height: auto;
}
.project{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}
@media(max-width:1023px){
    #projects .box{
        display: block;
        width: auto;
        text-align: center;
    }
    #projects .project{
        margin: 0;
        padding: 30px 10px;
    }
}
/*other skills*/
#otherskills .container{
    text-align: center;
}
#otherskills p{
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.col {
    flex: 50%;
    max-width: 25%;
    padding: 0 4px;
}
.col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border: 0;
    border-radius: 5px;
}
@media (min-width: 600px){
    .col img:hover{
        transform: scale(1.2);
    }
}
@media screen and (max-width: 600px) {
    .col {
        flex: 50%;
        max-width: 100%;
    }
}
/*skills*/
#skills .container{
    width: 80%;
}
#skills .box{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
#skills .skill{
    width: 25%;
    background-color: #5089C6;
    margin: 0.6rem;
    padding: 0.4rem;
    border-radius: 10px;
    height: 80px;
    max-height: 100%;
}

/*experience*/
#experience .container{
    width: 60%;
}
#experience .box{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.company{
    flex: 25%;
}

#experience .work{
    flex: 50%; 
}
.work li{
    font-size: 1rem;
}
.company span{
    font-size: 14px;
}
.work span{
    background-color: #5089C6;
    padding: 0 0.3rem;
    border-radius: 4px;
}
.work a{
    margin-top: 1rem;
    text-decoration: underline;
}

/*contact*/
#contact .container{
    text-align: center;
}
#contact i{
    color: #5089C6;

}
#contact i:hover{
    transform: scale(1.2);
}

/*footer*/
footer .container{
    margin-top: 0;
    margin-bottom: 0;
}
footer p{
    font-size: 12px;
    text-decoration: none;
    text-align: right;
    margin: 20px 0 20px 0;
}
