/*global*/
body{
    font-family: 'Roboto Mono', monospace;
    background-color: #000000;
    color: #EEEEEE;
    margin: 0;
    padding: 0;
}
hr{
    border: 0;
    border-bottom: #6b6b6b 2px dashed;
    width: 80%;
}
.container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    vertical-align: top;
}
img{
    width: 250px;
    height: auto;
}

h2{
    font-family: 'Roboto Slab', serif;
    color: #5089C6;
    font-size: 30px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #6b6b6b;
}
a:hover{
    color: #EEEEEE;
}
p{
    font-size: 18px;
}
/*navigation*/
header .container{
    margin: auto;
    
}
header{
    min-height: 50px;
    padding-top: 15px;
}
header li{
    float: left;
    display: inline;
    padding: 0 15px 0 15px;
}
#greeting{
    float: left;
}
header nav{
    float: right;
}
h1{
    color: #5089C6;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
@media (max-width: 600px) {
    header nav{
        display: none;
    }
    h1{
        font-size: 30px;
    }
}

/*intro*/
#intro img{
    width: 200px;
    height: 200px;
    border: 0;
    border-radius: 100%;
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
}
#intro h2{
    font-family: 'Parisienne', cursive;
    font-size: 55px;  
    margin: 15px;
}
#intro .introcontent{
    text-align: center;
}
button{
    margin-top: 20px;
    border: 2px solid #5089C6;
    border-radius: 10px;
    padding: 10px;
    background-color: #5089C6;
    color: #EEEEEE;
}
button:hover{
    background-color: transparent;
    border: 2px solid;
    border-color: #5089C6;
    color: #5089C6;
}
@media (max-width:600px){
    #intro h2{
        font-size: 40px;
    }
}
/*about*/
#about .container{
    text-align: center;
}
#about p{
    text-align: left;
}
#about .box{
   display: inline-block;
   width: 40%;
   margin: 0;
   padding: 0;
   vertical-align: middle;
}
#about img{
    width: 300px;
    height: auto;
    max-width: 100%;
    border: 0;
    border-radius: 10px;
}
#about .box h2{
    text-align: left;
}
@media (max-width: 600px){
    #about .box{
        display: block;
        width: 80%;
        margin: auto;
    }
    #about p{
        text-align: center;
    }
    #about .box h2{
        text-align: center;
    }
}

/*skills*/
#skills ul{
    margin: 0;
    padding: 0;
}
#skills .container{
    text-align: center;
}
#skills li{
    list-style: none;
    display: inline-block;
    width: 150px;
    padding: 20px ;
    margin: 20px 20px 20px 20px;
    text-align: center;
    background-color: #6b6b6b28;
    border: 0px solid;
    border-top: 4px #5089C6 solid;
    border-radius: 5px;
}
@media (max-width: 600px){
    #skills li{
        display: block;
        margin: 15px auto 15px auto;
    }
}

/*experience*/

table{
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 20px;
    vertical-align: middle;
}

#experience .cell{
    border-left: 3px solid #5089C6;
    border-radius: 5px;
    padding: 20px;
    background-color: #6b6b6b28;
}
span{
    font-size: 14px;
}

/*projects*/
#projects .container{
    text-align: center;
}
#projects .box{
    display: inline-block;
    width: auto;
    width: 40%;
    vertical-align: middle;
    text-align: left;
}
#projects img{
    width: 450px;
    border: 0;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}
.project{
    background-color: #6b6b6b28;
    padding: 30px 20px;
    margin: 0 40px 0 40px;
    border: 0;
    border-top: #5089C6 3px solid;
    border-radius: 5px;
}
@media(max-width:1023px){
    #projects .box{
        display: block;
        width: auto;
        text-align: center;
    }
}

/*other skills*/
#otherskills .container{
    text-align: center;
}
#otherskills p{
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.col {
    flex: 50%;
    max-width: 25%;
    padding: 0 4px;
}
.col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border: 0;
    border-radius: 5px;
}
.col img:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 600px) {
    .col {
      flex: 100%;
      max-width: 100%;
    }
  }

/*contact*/
#contact .container{
    text-align: center;
}
#contact img{
    width: 50px;
    height: 50px;
    max-width: 100%;
    height: auto;
}
#contact img:hover{
    transform: scale(1.2);
}

/*footer*/
footer .container{
    margin-top: 0;
    margin-bottom: 0;
}
footer p{
    font-size: 12px;
    text-decoration: none;
    text-align: right;
    margin: 20px 0 20px 0;
}
